{% extends "base.html" %}

{% block content %}

    {% if splitted_text %}
        <p>
            {% for word, highlight in splitted_text %}
                {% if highlight == 1 %}
                    <a class="text" style="background-color: yellow" title="[translation]" href="/reading/remove/{{ word }}">{{ word }}</a>
                {% else %}
                    <a class="text" title="[translation]" href="/reading/add/{{ word }}">{{ word }}</a>
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}